rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Bloqueo total por defecto
    match /{document=**} {
      allow read, write: if false;
    }

    // Reglas para Reportes Sentinel (Privacidad Diferencial)
    match /reports/{reportId} {
      allow create: if request.auth != null;
      // Solo permite leer si el reporte tiene ubicación pública fuzzeada
      allow get, list: if request.auth != null && resource.data.location_public != null;
    }

    // Reglas para Usuarios (Karma y Coins)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // --- NUEVO: Reglas para Sistema Fluvial ---

    // Colección Tramos (El Semáforo)
    match /tramos/{tramoId} {
      // Todos pueden leer el estado de los ríos
      allow read: if true;
      
      // Solo Guías o Admins pueden cambiar el semáforo (estado_navegabilidad)
      // Se asume el uso de Custom Claims (request.auth.token.role)
      allow write: if request.auth != null && 
                  (request.auth.token.role == 'guia' || request.auth.token.role == 'admin');
                  
      // Sub-colección Condiciones (Pines de Alerta - Crowdsourcing)
      match /condiciones/{condicionId} {
        // Todos pueden leer las alertas locales
        allow read: if true;
        // Cualquier usuario logueado puede crear un pin de alerta
        allow create: if request.auth != null;
        // Solo el creador original o un admin puede borrar la alerta (ej: falsa alarma)
        allow delete: if request.auth != null && 
                     (request.auth.uid == resource.data.id_usuario || request.auth.token.role == 'admin');
      }
    }
  }
}
