rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Bloqueo total por defecto
    match /{document=**} {
      allow read, write: if false;
    }

    // Reglas para Reportes Sentinel (Privacidad Diferencial)
    match /reports/{reportId} {
      allow create: if request.auth != null;
      // Solo permite leer si el reporte tiene ubicación pública fuzzeada
      allow get, list: if request.auth != null && resource.data.location_public != null;
    }

    // Reglas para Usuarios (Karma y Coins)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
